*{
  box-sizing: border-box;
       margin: 0;
       padding: 0;
}

body {
  /* 
    -Background color is #344a72
  */
  font-family: 'Raleway', sans-serif;
  background-color: #344a72;
  line-height: 1.6em;
  font-size: 1.1em;
}

.headTitle h2 {
  text-align: center;
  background: antiquewhite;
  padding: 20px 10px 20px 20px;  
}

section {
  max-width: 1200px;
  min-width: 600px;
  margin: auto;
  margin-top: 40px;
}
.formElements {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;  
}

a {
  text-decoration: none;
}

.formElements ul>li>label {
  float: left;
  width: 240px;
  /* display: inline-block; */
  text-align: right;
  padding-right: 15px;
  clear: left;
  font-weight: bold;
  line-height: 1.9em;
}

.formElements ul {  
  padding: 0 12px;
  list-style-type: none;
  margin: 0px 12px; 
  width: 480px; 
}

input[type=text]{
  display: inline-block;
  width: 210px;
  padding: 0 10px;
}

textarea{
  display: inline-block;
  width: 210px;
}

.myRadioBtn {  
  margin-left: 130px;
  margin-top: 5px;
} 

.formElements ul>li>div>p {
  font-weight: bold;
}

.title {
  /* text-decoration: underline; */
}


ul>li {
  margin-bottom: 15px;
}

div.buttons {
  background: #ccc;
  padding: 10px;
  text-align: center;
}

div.buttons>input{
  margin: 0 10px;
  background-color: #49c1a2;        
  padding: 5px;  
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  width: 120px;


}

.formElements ul>li>label>span {
  color: red;
}

select {
  width: 150px;
}

.formElements>ul:nth-last-child(1) {
  margin-top: 30px;
}